[submodule "TinaXCode/TinaX.Tween"]
	path = TinaXCode/TinaX.Tween
	url = https://github.com/yomunsam/TinaX.Tween.git
[submodule "TinaXCode/TinaX.UIKit.Animation"]
	path = TinaXCode/TinaX.UIKit.Animation
	url = https://github.com/yomunsam/TinaX.UIKit.Animation.git
